<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Skill Disk : Django Webinar</title>
</head>
<body>
    <div class="container">
        <h1 class="amber-text center">Skill Disk</h1>
        <h3 class="purple-text center">Welcome to the webinar on <br> <b>{{webinar}}</b></h3>
        <p class="center">Check out our website <a href="http://skilldisk.com">skill disk</a></p>
    </div>
</body>
</html>